<!DOCTYPE html>
<html>

<head>
  <title>Sistema para validar CPF</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="container">
  <div class="w3-container w3-deep-purple" style="padding:50px 15px" id="validate">
    <h3 class="w3-center"><b>A VALIDAÇÃO DO CPF FOI REALIZADA</b></h3>

  <ul>
    <li>
      <h4><b>Nome: </h4></b><span th:text="${cliente.nome}"></span>
    </li>
    <li>
      <h4><b>CPF:</h4> </b><span th:text="${cliente.cpf}"></span>
    </li>
  </ul>
  <div th:if="${validado}" class="alert alert-success" role="alert">
   <h4 style="color: green;"><b>Foi validado com sucesso</b></h4> 
  </div>
  
  <div th:unless="${validado}" class="alert alert-danger" role="alert">
    <h4 style="color: red;"><b>Nao  &eacute; valido</b></h4>
  </div>
  </div>
</body>

</html>